<div *ngIf="loading" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <div class="animate-spin rounded-full h-32 w-32 border-t-4 border-black border-solid"></div>
</div>

<!-- Main Content Container -->
<section class="relative w-full max-w-6xl mx-auto overflow-hidden" *ngIf="!loading">
  <header>
    <h1 class="text-3xl font-bold text-center py-2">Latest News</h1>
  </header>

  <!-- News Grid Section -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-y-8 gap-y-5  gap-x-4 p-1 md:gap-x-8">
    <ng-container *ngFor="let item of paginatedNews; let i = index">
      <article class="flex flex-row sm:flex-col items-center bg-white overflow-hidden cursor-pointer h-40 md:h-fit" (click)="getPost(item.type, item.slug, item)">
        
        <!-- News Image -->
        <img *ngIf="item.thumb" [src]="item.thumb" alt="{{ item.title }} image" class="w-[55%] md:w-full h-36 object-fill rounded" />

        <div class="w-full sm:w-full text-left font-semibold flex flex-col justify-between h-36 md:h-32 px-1">
          <!-- Article Title -->
          <div class="flex justify-between items-center">
            <h2 class="title line-clamp-5 overflow-hidden text-ellipsis sm:h-fit h-32">{{ item.title }}</h2>
          </div>

          <!-- Article Meta (Category and Time) -->
          <div class="time w-full  flex justify-between items-center text-sm font-normal">
            <span class="tag text-sm bg-blacks px-3 rounded-sm text-white">{{ item.categories }}</span>
            <span>{{ item.relativeTime }}</span>
          </div>
        </div>
      </article>

      <!-- Insert Heading and Carousel every 8 items -->
      <ng-container *ngIf="(i + 1) % 8 === 0">
        <div class="col-span-full w-full text-center">
          <p class="text-3xl font-bold my-4">
            {{ getHeading(i) }}
          </p>
          <app-kandy-eye-slider ></app-kandy-eye-slider>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- Pagination Controls -->
  <div class="flex justify-center items-center space-x-2 my-6">
    <button class="px-3 py-1 rounded disabled:bg-gray-300 disabled:text-gray-500 bg-gray-700 text-white" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    
    <!-- Page Numbers -->
    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
      <button class="px-3 py-1 rounded cursor-pointer" [ngClass]="{ 'bg-black text-white': currentPage === i + 1, 'bg-gray-200 text-black': currentPage !== i + 1 }" (click)="changePage(i + 1)">
        {{ i + 1 }}
      </button>
    </ng-container>

    <!-- Next Button -->
    <button class="px-3 py-1 rounded disabled:bg-gray-300 disabled:text-gray-700 bg-gray-900 text-white cursor-pointer" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
</section>
